@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
}

.header {
    background-color: #1F2937;
}


.navbar {
    display: flex;
    flex-direction: row;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}


.header-bold {
    color: white;
    font-size: 60px;
    font-weight: 700px;
}

.header-button {
    background-color: rgb(43, 128, 255);
    padding: 5px 20px;
    color: white;
    border-radius: 12px;
    flex-shrink: 0;
}