@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
}

.upper {
    background-color: #1F2937;
}

 /*NAVBAR*/

.navbar {
    display: flex;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

ul {
    display: flex;
    list-style: none;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

/*TOP*/

.top {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.top-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 235px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.top-para {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    margin: 50px;
}

.top-button {
    background-color: #3882f6;
    padding: 5px 20px;
    color: white;
    width: 100px;
    height: 25px;
    border: 1px #3882f6;
    border-radius: 12px;
    flex-shrink: 0;
}

/*MIDDLE*/

.middle {
    display: flex;
    flex-direction: column;
}

.middle-header {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
    margin-top: -50px;
}

/*GIANT QUOTE*/

.quote-bg {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

.author {
    font-size: 20px;
    font-weight: 700px;
    color: #1F2937;
}